{
  "extends" : [
      "airbnb",
      "prettier"
  ],
  "plugins": [
    "react"      
  ],
  "env": {
      "jest": true,
      "browser": true,
      "es6": true
  },
  "parser": "babel-eslint",
  "rules" : {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/destructuring-assignment": "off"
  }
}